/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  color: #00274D;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  color: #00274D;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background: #00274D;
  color: #FFFFFF;
  padding: 15px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links li a {
  color: #FFFFFF;
  font-weight: 600;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Hero Section */
.hero {
  background: linear-gradient(to bottom, #00274D, #4C72A8);
  color: #FFFFFF;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 2.5rem;
}

.btn-primary {
  background: #FFD700;
  color: #00274D;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Topics */
.topics-grid {
  display: flex;
  gap: 20px;
}

.topic-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  height: 80%
 
}

.topic-card img {
  max-width: 100%;
  border-radius: 8px;
}

/* Footer */
.footer {
  background: #00274D;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: #FFD700;
  margin: 0 10px;
}
